:root {
  color-scheme: light dark;

  --color-keyboard: #fff;
  --color-keysocket: #6c7074;
  --color-keyborder: color-mix(in srgb, var(--color-keyboard), var(--color-keysocket));

  --small: inline-block;
  --med: none;
  --large: none;

  @media (width >= 1032px) {
    --med: inline-block;
  }

  @media (width >= 1269px) {
    --large: inline-block;
  }
}

body {
  color: #000;
  background-color: #000;
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

#desk {
  display: none;
  width: 100%;
  height: 412px;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  overflow: hidden;

  @media (width < 1032px) {
    max-width: 844px;
    height: 339px;
  }

  @media (width < 854px) {
    height: 359px;
  }

  @media (width >= 1032px) {
    max-width: 1032px;
  }

  @media (width >= 1269px) {
    max-width: 1269px;
  }

  #rescue {
    display: inline-block;
    position: absolute;
    bottom: 420px;
    z-index: 3;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;

    width: 14px;
    height: 12px;
    padding-bottom: 2px;
    text-align: center;
    left: calc(50% - 10px);

    margin: -3px;

    border-width: 7px;
    border-style: dashed;

    color: #fff;
    background-color: #a53;
    border-color: #521;
    border-top-color: #621;
    border-bottom-color: #310;
  }

  #keyboard {
    width: calc(100% - 16px);
    position: absolute;
    bottom: 42px;
    z-index: 2;
    background: var(--color-keyboard);
    border-radius: 4px;
    padding: 8px;
  }

  #wristrest {
    white-space: pre-wrap;
    font-weight: 700;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: calc(100% - 2px);
    height: 40px;
    color: #b9c;
    background-color: #dbe;
    border: 1px solid #b9c;
    border-radius: 2px;
    z-index: 2;
  }
}

canvas {
  position: absolute;
  image-rendering: pixelated;
}

#shaderscr {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: multiply;

  display: none;
}

.editor {
  position: absolute;
  padding: 8px;
  min-width: calc(100% - 16px);
  min-height: calc(100% - 16px);
  line-height: calc(1em - 10.6px);
  white-space: pre-wrap;
  color: #0f0;
  background-color: #000;
  font-family: courier;
  font-size: 26.6px;
}

.plate {
  background-color: var(--color-keyboard);
  width: 58px;
  height: 56px;
  top: 6px;

  background-clip: padding-box;
  display: inline-block;
  position: relative;
  margin: -10px -1px;
  border: 2px solid var(--color-keyborder);
  border-top: 0;

  &::before, &::after {
    content: '';
    position: absolute;
    background-color: var(--color-keysocket);
    border-top: 2px solid var(--color-keyborder);
    width: 4px;
    height: 4px;
  }

  &.left {
    border-radius: 0 0 0 4px;
    border-right: 0;
    right: -2px;
    margin-right: -2px;

    &::before, &::after {
      box-shadow: 5px 0 0 0 var(--color-keyboard), 3px -3px 0 0 var(--color-keyboard), 0 -5px 0 0 var(--color-keyboard);
      border-radius: 0 6px 0 0;
      border-right: 2px solid var(--color-keyborder);
    }

    &::before {
      top: 1px;
      left: -6px;
    }

    &::after {
      right: 1px;
      bottom: -6px;
    }
  }

  &.right {
    border-radius: 0 0 4px 0;
    border-left: 0;
    left: -2px;
    margin-left: -2px;

    &::before, &::after {
      box-shadow: -5px 0 0 0 var(--color-keyboard), -3px -3px 0 0 var(--color-keyboard), 0 -5px 0 0 var(--color-keyboard);
      border-radius: 6px 0 0 0;
      border-left: 2px solid var(--color-keyborder);
    }

    &::before {
      top: 1px;
      right: -6px;
    }

    &::after {
      left: 1px;
      bottom: -6px;
    }
  }
}

.keydiv {
  pointer-events: none;
}

.keysocket {
  font-size: 11px;
  background: var(--color-keysocket);
  border: 2px solid var(--color-keyborder);
  border-radius: 6px;
  padding: 1px;
  display: inline-block;
}

.keysocketrow {
  display: flex;
}

.keyswitch {
  flex: auto;
  position: relative;
  z-index: 2;
  display: flex;
  pointer-events: auto;

  @media (width < 854px) {
    &.cripple {
      display: none;
    }
  }
}

.keycap, .keycap2 {
  flex: auto;
  pointer-events: none;
  margin: 1px;

  border-style: solid;
  border-radius: 3px;

  border-top-width: 6px;
  border-left-width: 11px;
  border-right-width: 11px;
  border-bottom-width: 12px;

  .face {
    min-width: 16px;
    margin: -3px;
    padding: 2px;
    border-radius: 4px;
    font-size: 12px;

    text-align: center;
    height: 37px;
    color: #556;

    &.pressed, &.joystick {
      color: #fff;
    }
  }

  @media (width < 854px) {
    border-top-width: 6px;
    border-left-width: 12px;
    border-right-width: 12px;
    border-bottom-width: 13px;
    .face {
      height: 40px;
      font-size: 14px;
    }
  }
}

.keycap {
  border-color: #a4a29b;
  border-top-color: #c4c2bb;
  border-bottom-color: #989692;

  &.pressed {
    border-color: #14a;
    border-top-color: #25b;
    border-bottom-color: #039;
  }

  &.joystick {
    border-color: #521;
    border-top-color: #621;
    border-bottom-color: #310;
  }

  .face {
    background: #dddad7;
  
    &.pressed {
      background: #36c;
    }

    &.joystick {
      background: #a53;
    }
  }
}

.keycap2 {
  border-color: #8d8b90;
  border-top-color: #a4a2a0;
  border-bottom-color: #817e84;

  &.pressed {
    border-color: #44a;
    border-top-color: #55b;
    border-bottom-color: #339;
  }

  &.joystick {
    border-color: #a70;
    border-top-color: #ec6;
    border-bottom-color: #630;
  }

  .face {
    background: #b6b4b9;
  
    &.pressed {
      background: #66c;
    }

    &.joystick {
      background: #ca4;
    }
  }
}

.hintscreen {
  position: absolute;
  pointer-events: none;
  width: 100% /*738px*/;
  height: 100% /*400px*/;
  z-index: 3;
}

#qixsatescr, #qixmobscr, #qixprojscr {
  display: none;
}

.hint {
  display: none;
  width: 100%;
  height: 100%;

  &.mob {
    position: absolute;
    background: repeating-linear-gradient(
      45deg,
      #223,
      #223 8px,
      #a53 8px,
      #a53 16px,
      #dc9 16px,
      #dc9 24px
    );
  }

  &.sate {
    position: absolute;
    background: repeating-linear-gradient(
      45deg,
      #50a,
      #50a 10px,
      #80f 10px,
      #80f 20px
    );
  }

  &.ammo {
    position: absolute;
    background: repeating-linear-gradient(
      45deg,
      #87a,
      #87a 10px,
      #dcf 10px,
      #dcf 20px
    );
  }

  &.tail {
    background: repeating-linear-gradient(
      45deg,
      #f0f,
      #f0f 10px,
      #0f0 10px,
      #0f0 20px
    );
  }

  &.bguncher {
    position: absolute;
    background: repeating-linear-gradient(
      45deg,
      #959,
      #959 10px,
      #c9d 10px,
      #c9d 20px
    );
  }
}

#hint2 {
  background: repeating-linear-gradient(
    45deg,
    #00f,
    #00f 10px,
    #ff0 10px,
    #ff0 20px
  );
}

#hint3 {
  background: repeating-linear-gradient(
    45deg,
    #700,
    #700 10px,
    #f00 10px,
    #f00 20px
  );
}

#hint4 {
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 10px,
    #000 10px,
    #000 20px
  );
}

#hint5 {
  background: repeating-linear-gradient(
    45deg,
    #730,
    #730 10px,
    #f70 10px,
    #f70 20px
  );
}

#result, #stdout, #glyphscr {
  white-space: pre-wrap;
  display: none;
  color: #0f0;
  font-family: courier;
  font-size: 24px;
  z-index: 1;
  pointer-events: none;
  position: absolute;
}

#result {
  width: 100%;
  text-align: center;
}

#stdout {
  top: 400px;
  top: 0px;
  font-size: 14px;
}

.poppy {
  background: #c0c0c0;
  position:absolute;
  display:none;
  z-index: 3;
  padding: 0px 4px;
  line-height:1.5;
  white-space: nowrap;
  box-shadow: inset -1px -1px #000, inset 1px 1px #c0c0c0, inset -2px -2px #848484, inset 2px 2px #fff;
  cursor: default;

  .left {
    position: relative;
    display: block;
    animation: left 200ms linear 1;
  }

  .right {
    position: relative;
    display: block;
    animation: right 200ms linear 1;
  }
}

@keyframes left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.poppyarrow {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #000;
  pointer-events: none;
  position: relative;
  left: 15px;
  top: 8px;
  float: right;
}

.touchloc, .touchloc_dot {
  display: none;
  pointer-events: none;
  z-index: 4;
  position: absolute;
  animation: fade 1000ms linear 1;
  //animation: fade 1000ms steps(2, end);
  mix-blend-mode: difference;
}

@keyframes fade {
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.touchloc {
  border-color: #ffffff;
  border-style: solid;
}

.touchloc_dot {
  background-color: #ffffff;
}

#glyphscr {
  left: 8px;
  top: 8px;
  display: none;
}

.graphboard {
  position: relative;
  top: 7px;
  margin: 0 4px 14px;
  width: 201px;
  height: 201px;
  border-top: 2px solid #848484;
  border-left: 2px solid #848484;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, #000 1px, transparent 1px),
    linear-gradient(to bottom, #000 1px, transparent 1px);

  .dot {
    background: #00f;
    position: relative;
    width: 5px;
    height: 5px;
    pointer-events: none;
  }
}

.lever {
  padding: 10px 0;
  position: relative;

  .dot {
    background: #fff;
    border-top: 6px solid #fff;
    border-left: 6px solid #fff;
    border-right: 6px solid #848484;
    height: 18px;
    top: 0;
  
    &::before {
      content: '';
      top: -4px;
      left: -4px;
      background: #c0c0c0;
      width: 8px;
      height: 20px;
    }
  }
  
  .dot, .dot:before {
    pointer-events: none;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  }
  
  .bar {
    border-top: 2px solid #848484;
    border-left: 2px solid #848484;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 208px;
    pointer-events: none;
  }
}

.poppywin {
  pointer-events: auto;
  margin: 0 3px;
  top: -12px;
  position: absolute;
  display: none;
  //border: 1px solid #f00;
  //background: rgba(255, 0, 0, 0.2);
  overflow: hidden;
}

#dialogbox {
  display: none;
  position: absolute;
  white-space: pre-wrap;
  background-color: #000;
  color: #0f0;
  border-radius: 4px;
  border: 1px solid #C07820;
  z-index: 1;
  top: 64px;
  left: 64px;
  padding: 10px;
}

#close {
  cursor: pointer;
  top: -6px;
  left: -2px;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  font-size: 20px;
  color: #C07820;
  display: inline-block;
}